/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2019, 9.37.18
    Author     : samu
*/
*{
    box_sizing:border-box;
    border-color: steelblue;
}
body {
    font-family: "Open Sans", "Arial", "sans-serif";
    background: #333333;
    color: white;
}
h1, h2, h3{
    color: #35E081;
}
input{
    background: teal;
}
input:focus{
    color:whitesmoke;
    background: sandybrown;
}

a:visited{
    color:red;
}

a:link{
    color: white;
}

a:active{
    color: blueviolet;
}

ol{
    list-style-type: upper-roman;
}

/* Layout */
header{
    
    border-width: medium;
    border-style: solid;
}

#logodiv{
    position: relative;
    height: 150px;
}

.logoimg{
    height: 100%;
    width: 25%;
}

#logotitle{
    position: absolute;
    display: inline;
}

nav ul li{
    border-style: solid;
    border-radius: 20px;
    list-style: none;
    padding: 10px;
    float: right;
}

nav ul li:first-child{
    width: 30%;
}

nav ul{
    margin: 0px;
    position: relative;
}

nav {
    border-style: solid;
    border-width: medium;
    float: left;
    width: 100%; 
}